//----------------------------------------------------------------------------------------------------------------------
// Custom Theme Styles
//----------------------------------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------------------------------
// Buttons
//----------------------------------------------------------------------------------------------------------------------

@each $color, $value in $theme-colors {
    .btn-#{$color} {
        color: map-get($button-text-colors, $color);

        &:hover {
            color: white;
            background-color: darken($value, 30%);
        }

        &:disabled,
        &.disabled,
        fieldset:disabled & {
            background-color: darken($value, 25%);
            border-color: darken($value, 25%);

            @if $color == 'dark' {
                background-color: #303030;
                border-color: #303030;
            }

            cursor: not-allowed !important;
        }
    }
}

@each $color, $value in $theme-colors {
    .btn-outline-#{$color} {
        background-color: darken($value, 30%);
        color: white;

        &:hover {
            color: map-get($button-text-colors, $color);
        }

        &:disabled,
        &.disabled,
        fieldset:disabled & {
            background-color: darken($value, 45%);
            border-color: darken($value, 25%);
            color: #777777;

            @if $color == 'dark' {
                border-color: #333333;
                color: #333333;
            }

            cursor: not-allowed !important;
        }
    }
}

//----------------------------------------------------------------------------------------------------------------------
// Cards
//----------------------------------------------------------------------------------------------------------------------

.card {
    @include cut-corner($corner-size);

    .card-header {
        margin-left: $card-border-width;
        margin-right: $card-border-width;
    }

    .card-body {
        margin-left: $card-border-width;
        margin-right: $card-border-width;
    }
}

//----------------------------------------------------------------------------------------------------------------------
// Input
//----------------------------------------------------------------------------------------------------------------------

.form-control {
    @each $color, $value in $utilities-border-colors {
        &.border-#{$color},
        {
            $border-color: map-get($theme-colors, $color);
            @if($color == 'white')
            {
                $border-color: white;
            }
            @else if($color == 'black')
            {
                $border-color: black;
            }

            background-color: darken($border-color, 45);

            &:focus {
                border-color: lighten($border-color, 20) !important;
                background-color: darken($border-color, 42);
            }
        }

        &.border-#{$color}-subtle,
        {
            $border-color: map-get($theme-colors-border-subtle, $color);
            @if($color == 'white')
            {
                $border-color: white;
            }
            @else if($color == 'black')
            {
                $border-color: black;
            }

            background-color: darken($border-color, 45);
        }
    }

    &:focus {
        box-shadow: none;
        border-color: $input-focus-border-color;
        background-color: #1a1a1a;
        transition: border 0.2s ease-in-out,
            background 0.2s ease-in-out;
    }
}

.form-select {
    &:focus {
        box-shadow: none;
    }
}

.form-switch .form-check-input {
    border-radius: $border-radius;
}

.form-range {
    &::-webkit-slider-thumb {
        border-radius: calc($form-range-thumb-border-radius / 4);
    }
    &::-webkit-slider-runnable-track {
        border-radius: calc($form-range-track-border-radius / 6);
    }
}

//----------------------------------------------------------------------------------------------------------------------
