//----------------------------------------------------------------------------------------------------------------------
// Variable Overrides
//----------------------------------------------------------------------------------------------------------------------

// Options
$enable-caret:                true;
$enable-rounded:              true;
$enable-shadows:              false;
$enable-gradients:            false;
$enable-transitions:          true;
$enable-reduced-motion:       false;
$enable-smooth-scroll:        true;
$enable-grid-classes:         true;
$enable-container-classes:    true;
$enable-cssgrid:              false;
$enable-button-pointers:      true;
$enable-rfs:                  true;
$enable-validation-icons:     true;
$enable-negative-margins:     false;
$enable-deprecation-messages: true;
$enable-important-utilities:  true;
$enable-dark-mode:            true;

// Fonts
$font-family-sans-serif:      "Titillium Web", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";

// Border Radius
$border-radius:               4px;

// Corner Cut Size
$corner-size: 16px;

//----------------------------------------------------------------------------------------------------------------------
// Theme Colors
//----------------------------------------------------------------------------------------------------------------------

$primary:       #ff9900;
$secondary:     #0099ff;
$success:       #99ff00;
$info:          #aa00ff;
$warning:       #ffee00;
$danger:        #dd2200;
$light:         #777777;
$dark:          #333333;

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
);

$body-bg-dark: #101010;
$body-color-dark: white;

$input-focus-color: white;
$input-focus-border-color: white;

//----------------------------------------------------------------------------------------------------------------------
// Custom Variables
//----------------------------------------------------------------------------------------------------------------------

$button-text-colors: (
    "primary":    white,
    "secondary":  white,
    "success":    #333333,
    "info":       white,
    "warning":    #333333,
    "danger":     white,
    "light":      white,
    "dark":       white
) !default;

//----------------------------------------------------------------------------------------------------------------------
